APP_VERSION=2.3.0
NEXT_PUBLIC_APP_URL=http://localhost:3000 #domain-anda

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=no-reply@mail.com #emailhost
SMTP_PASS=**** **** **** **** #password aplikasi