@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #09090b;
    --primary: #18181b;
    --primary-foreground: #fafafa;
    --card: #ffffff;
    --card-foreground: #09090b;
    --radius: 0.5rem;
  }

  .dark {
    --background: #09090b;
    --foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #18181b;
    --card: #09090b;
    --card-foreground: #fafafa;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply transition-colors duration-300;
  }
}
